<!DOCTYPE html>
<html>
  <head>
    <title>FeedReader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="page">
    <%= content_tag :h1, yield(:page_title), class: 'page__title' %>
    <%= yield %>
  </body>
</html>
