<!DOCTYPE html>
<html>
  <head>
    <title>FeedReader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="page">
    <header class="page__header header">
      <%= content_tag :h1, yield(:page_title), class: 'header__title' %>
      <nav class="header__nav">
        <%- if current_user.present? %>
          <%= link_to t('.home'), root_path %>
          <%= link_to t('.subscriptions'), subscriptions_path %>
          <%= link_to t('.sign_out'), destroy_session_path, data: { turbo_method: :delete } %>
          <%- if current_user.admin? %>
            <%= link_to t('.good_job'), good_job_path, data: { turbo: false } %>
          <% end %>
        <%- end %>
      </nav>
    </header>
    <main class="page__main">
      <div class="page__messages">
        <% flash.each do |type, msg| %>
          <%= content_tag :span, msg, class: ['message', "message--#{type}"] %>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
